{% extends 'blog/base.html' %}
{% block content %}
<h2 id="editar-perfil-titulo">Editar Perfil</h2>

<form method="post" enctype="multipart/form-data" id="form-editar-perfil">
    {% csrf_token %}
    
    <label for="bio" id="label-bio">Bio:</label><br>
    <textarea class="biotext" name="bio" rows="4" cols="50" id="bio-textarea">{{ perfil.bio }}</textarea><br><br>

    <label id="label-foto">Foto de perfil:</label><br>
    {% if perfil.foto %}
        <img src="{{ perfil.foto.url }}" width="100" alt="Foto atual" id="foto-atual"><br>
    {% endif %}
    
    <!-- Input oculto e botão customizado -->
    <input type="file" name="foto" id="foto-input" accept="image/*" style="display: none;">
    <label for="foto-input" class="custom-file-upload">Escolher imagem</label><br><br>
    
    <button type="submit" id="botao-salvar">Salvar</button>
</form>

<a href="{% url 'perfil_usuario' request.user.username %}" id="voltar-perfil">← Voltar ao perfil</a>
{% endblock %}  