{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Início - Meu Blog{% endblock %}

{% block content %}
<div id="posts-container">
    {% for post in posts %}
        {% include 'blog/post_resumo.html' %}
    {% endfor %}
</div>

<div id="loader" style="text-align: center; display: none; margin-top: 20px;">
    <p>🔄 Carregando mais posts...</p>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Define o prefixo estático base (ex: "/static/")
    window.MEDIA_PREFIX = "{% static '' %}";
</script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}