{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Início - Meu Blog{% endblock %}

{% block content %}
    <nav class="categorias-nav">
        <h3>Categorias</h3>
        <ul>
            {% for categoria in categorias %}
                <li>
                    <a href="{% url 'posts_por_categoria' categoria.id %}">{{ categoria.nome }}</a>
                </li>
            {% empty %}
                <li>Nenhuma categoria disponível</li>
            {% endfor %}
        </ul>
    </nav>
    <form method="get">
        <select name="categoria">
          <option value="">Todas as categorias</option>
          {% for cat in categorias %}
            <option value="{{ cat.nome }}">{{ cat.nome }}</option>
          {% endfor %}
        </select>
      
        <select name="ordenar">
          <option value="data">Mais recentes</option>
          <option value="likes">Mais curtidos</option>
        </select>
      
        <button type="submit">Filtrar</button>
      </form>

    {% for post in posts %}
        <div class="post-resumo">
            <h2><a href="{% url 'detalhes_post' post.id %}">{{ post.titulo }}</a></h2>
            <p><strong>Por:</strong> {{ post.autor.username }}</p>

            {% if post.categoria %}
                <p>
                    <strong>Categoria:</strong> 
                    <a href="{% url 'posts_por_categoria' post.categoria.id %}">
                        {{ post.categoria.nome }}
                    </a>
                </p>
            {% else %}
                <p><strong>Categoria:</strong> Nenhuma</p>
            {% endif %}

            <p>{{ post.conteudo|truncatechars:200 }}</p>
            <small>Publicado em {{ post.criado_em|date:"d/m/Y H:i" }}</small>
        </div>
    {% empty %}
        <p>Nenhum post encontrado.</p>
    {% endfor %}

    <div class="paginacao">
        <span>
            Página {{ posts.number }} de {{ posts.paginator.num_pages }}
        </span><br>

        {% if posts.has_previous %}
            <a href="?page=1">Primeira</a>
            <a href="?page={{ posts.previous_page_number }}">Anterior</a>
        {% endif %}

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Próxima</a>
            <a href="?page={{ posts.paginator.num_pages }}">Última</a>
        {% endif %}
    </div>
{% endblock %}
