{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Novo Post{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data" id="form-novo-post">
    {% csrf_token %}
    <div class="campo-form">
        <label for="{{ form.conteudo.id_for_label }}" class="label-form">Conteúdo:</label>
        {{ form.conteudo }}
    </div>
    <div class="campo-form">
        <label for="{{ form.categoria.id_for_label }}" class="label-form">Categoria:</label>
        {{ form.categoria }}
    </div>
    <div class="campo-form">
        <label for="id_imagem" class="label-form">Imagem:</label>
        <input type="file" id="id_imagem" name="imagem" accept="image/*" style="display: none;">
        <label for="id_imagem" class="custom-file-upload">Escolher Imagem</label>
    </div>
    <!-- Pré-visualização -->
    <div id="preview-container" class="preview-container">
        <img id="preview-image" src="#" alt="Prévia da imagem" class="preview-image" style="display: none;">
    </div>
    <button type="submit">Publicar</button>
</form>  
{% endblock %}