<div class="post-resumo" style="border-bottom: 1px solid #ddd; margin-bottom: 20px; padding-bottom: 15px;" data-id="{{ post.id }}">
    <div style="display: flex; align-items: center; gap: 10px; margin: 5px 0;">
        {% if post.autor.perfil.foto %}
            <img src="{{ post.autor.perfil.foto.url }}" alt="Foto de perfil" style="width: 35px; height: 35px; border-radius: 50%;">
        {% else %}
            <img src="/media/img_resto/Account.png" alt="Foto de perfil padrão" style="width: 35px; height: 35px; border-radius: 50%;">
        {% endif %}
        <strong><a href="{% url 'perfil_usuario' post.autor.username %}">{{ post.autor.username }}</a></strong>

        {% if user.is_authenticated and user != post.autor %}
        <div style="display: flex; justify-content: flex-end; overflow: hidden; width: 100%;">
            <form method="post" class="seguir-form" data-username="{{ post.autor.username }}">
                {% csrf_token %}
                <button type="submit" class="seguir-btn">
                    {% if post.autor in user.perfil.seguindo.all %}
                        Seguindo
                    {% else %}
                        Seguir +
                    {% endif %}
                </button>
            </form>
        </div>
        {% endif %}
    </div>

    <h2><a href="{% url 'detalhes_post' post.id %}" class="link-detalhes"></a></h2>

    <p class="cont_post">{{ post.conteudo|truncatechars:200 }}</p>

    {% if post.imagem %}
        <img src="{{ post.imagem.url }}" alt="Imagem do post" class="img-resumo">
    {% endif %}

    {% if user.is_authenticated %}
        <div style="margin-top: 10px;">
            <button class="curtir-btn" data-id="{{ post.id }}">
                <img src="{% if user in post.curtidas.all %}{{ media_prefix }}Icones/vermelho.png{% else %}{{ media_prefix }}Icones/like.png{% endif %}" alt="Curtir">
            </button>
            <a href="{% url 'detalhes_post' post.id %}#comentarios" style="margin-left: 15px;">
                <img class="iconc" src="{{ media_prefix }}Icones/comentar.png" alt="Comentar">
            </a>
        </div>
    {% endif %}
</div>